<h3>About Me</h3>

<div class="card z-depth-3">
    <div class="card-content white-text">
        <div class="col m6">
            <a class="twitter-timeline" href="https://twitter.com/YosafatAriel" data-widget-id="646496547081977856">Tweets by @YosafatAriel</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

        </div><!-- col m6 -->

        <div class="col m6">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col m3">
                        <%= image_tag "128.jpg", class: "circle responsive-img" %>
                    </div><!-- col m3 -->
                    
                    <div class="col m9">
                       <span class="black-text">
                           I don't know what to say. Let the world tell you more..
                       </span>
                        
                    </div><!-- col m9 -->
                </div><!-- row valign-wrapper -->
                
            </div><!-- card panel grey lighten-5 z depth 1 -->
        
        </div><!-- col m6 -->
	    
	    
	</div><!-- card content white text -->
	
</div><!-- car z dept 3 -->